.presentation-page .page-header {
  height: 90ch; 
  overflow: hidden;
}
a, a:focus, a:hover, a:active {
  color: white;
  text-decoration: none;
}
.header{
padding-left:15px;
padding-right: 15px;
padding-top: 310px;
}

.contain {
margin: 0 auto;
overflow: visible;
padding-left: 150px;
padding-right: 150px;
z-index: 2;
position: relative;
}

.left {
float: left !important;
}

.header-wrapper {
background-color: black;
padding-top: 20px;
padding-bottom: 20px;
}

.page-header {
position: fixed;
width: 100%;
height: 100%;
}

.page-header img{
width: inherit;
height: 100%;
opacity: 0.7;
}

.logo-name {
font-family: 'Raleway';
font-weight: 700;
font-size: 50px;
color: white !important;
}

.description {
font-family: Raleway;
color:rgb(255, 255, 255);
font-size: 36px;/* Approximation due to font substitution */
font-weight: 400;
text-align: left;
}
.sub-description {
font-family: Raleway;
color:rgb(255, 255, 255);
background: rgba(147, 142, 139, 0.6);
padding: 10px;
font-size: 16px;
font-weight: 300;
line-height: 23px;
text-align: left;
}

hr {
margin-top: 1rem;
margin-bottom: 1rem;
margin-left: 0px;
border: 0;
border-top: 4px solid rgb(255, 255, 255);
width: 74px;
}

.btn{
border-radius: 0px!important;
}

.btn.see-more, .btn.see-more:hover, .btn.see-more:active, .btn.see-more:focus {
border-color: white !important;
color: white !important;
}

.btn.see-more:hover {
background-color:  #ff8b38;
}

.form-main{
padding: 0;
/*border: 1px solid white;*/
}

.form-header{
padding-top: 10px;
padding-bottom: 1px;
padding-left: 55px;
padding-right: 55px;
background: rgba(245, 245, 245,0.9);
border-top-right-radius: 5px;
border-top-left-radius: 5px;
}

.form-header p {
font-family: OpenSans;
color:#333333;
font-size: 20px;/* Approximation due to font substitution */
font-weight: 700;
text-align: center;
}

.form-body {
  padding: 45px 36px;
  background: rgba(255, 255, 255,0.9);
}

.form-footer {
  background: rgba(255, 139, 56,0.9);
  padding: 20px 140px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  text-align: center;
}

.form-control, .form-control:active, .form-control:hover, .form-control:focus {
  border: none;
  margin-bottom: 7px;
  border-bottom: 1px solid #bdbdbd;
  border-radius: 0px;
  background-color: transparent;
  box-shadow: none!important;
  padding: 10px;
}

.page-header {
  background-image: url(https://taipeiphotography.files.wordpress.com/2013/11/green-101.jpg);
  transform: translate3d(0px, 0px, 0px);
  height: 100vh;
  background-position: 50%;
  background-size: cover;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.header-filter {
  position: relative;
}
